/* Global Styles */
:root {
	--primary-color: #1f83d4;
	--dark-color: #333333;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

body {
	background-color: blue;
}
